@font-face {
  font-family: "FNFFont";
  src: url("/FridayNightFunkin-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  font-family: "FNFFont", sans-serif;
}

canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 800px;
  height: 600px;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  -webkit-mask-image: linear-gradient(to bottom, transparent, black 20%, black 80%, transparent);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-image: linear-gradient(to bottom, transparent, black 20%, black 80%, transparent);
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
}

.menu,
.game-over {
  color: white;
  margin: auto;
  max-width: 800px;
  min-height: 90vh;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.menu .list-music {
  width: 50%;
  overflow-y: scroll;
  height: 400px;
  padding: 3rem 0 0 2rem;
  -webkit-mask-image: linear-gradient(to bottom, transparent, black 30%, black 70%, transparent);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-image: linear-gradient(to bottom, transparent, black 30%, black 70%, transparent);
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
}

::-webkit-scrollbar {
  display: none;
}

.menu .music {
  text-transform: lowercase;
  margin-bottom: 20px;
  border: 1px solid white;
  padding: 0.5rem;
  width: 100%;
  color: black;
  background-color: white;
  box-sizing: border-box;
  cursor: pointer;
  transition: .3s;
}

.menu .music:nth-child(odd) {
  transform: rotate(-1deg);
}

.menu .music:nth-child(even) {
  transform: rotate(1deg);
}

.menu .music:hover {
  transform: rotate(0deg);
  background-color: black;
  color: white;
}

.game-over h1 {
  font-size: 64px;
  margin-bottom: 10px;
}

.game-over p {
  font-size: 20px;
}

.game-over button {
  font-family: "FNFFont";
  background-color: white;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 10px;
  transform: rotate(-1.5deg);
  margin-top: 50px;
  cursor: pointer;
}

.game-over button:hover {
  background-color: black;
  border: 1px solid white;
  transform: rotate(1.5deg);
  margin-top: 50px;
  color: white;
}